<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/pepper-grinder/jquery-ui-1.8.23.custom.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .model-actions{
                visibility: hidden;
            }
            .model-row:hover .model-actions{
                visibility: visible;
            }
            .popover{
                 z-index: 12000;
            }
        </style>
        <script type="text/template" id="collectionTemplate">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="model-row">
                        <th>FullName</th>
                        <th>DOB</th>
                        <th>Email</th>
                        <th>
                            <span class="btn-group  model-actions" >
                                <a class="btn btn-small btn-success" href="#newDialog" role="button" data-toggle="modal">
                                    <i class="icon-plus-sign"></i>
                                </a>
                                <button class="btn btn-small btn-info ModelRefresh" data-loading-text="Refreshing...">
                                    <i class="icon-refresh"></i>
                                </button >
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                <% for(i in models) {%>
                    <%
                       var model = models[i];
                    %>
                    <tr class="model-row" id="<%= model.id %>">
                        <td class="model-editable" data-key="fullname" title="double click to edit" rel="tooltip"><%= model.get("fullname") %></td>
                        <% if(parseFloat(model.get('dob')) != NaN) { %>
                            <td>
                                <%= formatdata(model.get("dob"),"dd/MM/yy") %>
                            </td>
                        <% }else{ %>
                            <td>nil</td>
                        <% } %>
                        <td title="double click to edit" rel="tooltip" class="model-editable" data-key="email"><%= model.get("email") %></td>
                        <td class="">
                            <span class="btn-group  model-actions" >
                                <button class="btn btn-small btn-danger model-delete" data-modelid=<%= model.id %>    >
                                    <i class="icon-trash"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </script>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">OS REST</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Actions<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-header">Model actions</li>
                                    <li>
                                        <a href="#" class="ModelRefresh" data-loading-text="Refreshing...">
                                            Refresh
                                            <i class="icon-refresh"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a  href="#newDialog" role="button" data-toggle="modal">
                                            Add new <i class="icon-plus-sign"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form pull-right">
                            <input class="span2" type="text" placeholder="Email">
                            <input class="span2" type="password" placeholder="Password">
                            <button type="submit" class="btn">Sign in</button>
                        </form>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            <div id="viewContainer">
            </div>

            <form  class="modal  hide fade" id="newDialog" tabindex="-1" role="dialog" >
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="newDialogLabel">New Model</h3>
                  </div>
                  <div class="modal-body">
                        
                            <p><input class="span5" type="text" id="fullname" placeholder="Full Name" required></p>
                            <p>
                                <input class="span5" type="text" required id="dobPicker" placeholder="Date of birth"></input>
                            </p>
                            <p><input class="span5" type="email" id="email" placeholder="Email" required ></p>
                        
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary" id="addButton" type="submit">Add</button>
                  </div>
            </form>
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.1.min.js"><\/script>')</script>
        <script type="text/javascript" src="js/vendor/jquery-ui-1.8.23.custom.min.js"></script>
        <script type="text/javascript" src="http://bugs-test.appspot.com/common/scripts/datatype.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/underscore.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
